# A "minimal" working config, see config.py for all the options
MOA_SECRET_KEY= # python -c "import os; print(os.urandom(24).hex())"
MOA_TWITTER_CONSUMER_KEY=
MOA_TWITTER_CONSUMER_SECRET=
MOA_SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://USERNAME:PASSWORD@mysql/moa' # Make sure this matches mysql.env
